mixin singleCondRestrictHeader()
    h4
        span
            | Restrict
            span.dataglue-green &nbsp;{{dataSet.dbReferences[dbRefIndex].fields[fieldIndex].COLUMN_NAME}}
            | &nbsp;by a specific condition

mixin rangeCondRestrictHeader()
    h4 Or by a range of values

// Not putting dates in here yet since it gets a bit messy, regular inputs work best
mixin valueForm(optionsName, condName, condValue, type, optionalText)
    div.form-horizontal
        span
            //beginCond -- beginRangeConds
            select(ng-model="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].#{condName}", ng-options="x.value as x.label for x in #{optionsName}")
                option(value="")
            | &nbsp;
            if type == 'number'
                input(type="number", placeholder="Enter a number", ng-model="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].condValue", ng-disabled="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].cond === null")
            else if type == 'text'
                input(type="text", placeholder="Enter a string/text", ng-model="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].#{condValue}", ng-disabled="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].#{condName} === null")
            else if type == 'boolean'
                select(ng-model="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].#{condValue}", ng-options="x.value as x.label for x in booleanOptions")
                    option(value="")
            else if type == 'date'
                input(type="text", datepicker-popup="MM-dd-yyyy", ng-change="resetOtherFields(dbRefIndex, fieldIndex, #{condValue})", ng-model="dataSet.dbReferences[dbRefIndex].fields[fieldIndex].#{condValue}", open="#{condValue}Opened", min="minDate", max="'2016-06-22'", datepicker-options="dateOptions", show-weeks="false", ng-required="true")
                span(style="display:inline-block;")
                    | &nbsp;
                    // See graph.coffee $scope.beginValueOpen = () -> $timeout () -> $scope.beginValueOpened = true
                    i.fa.fa-calendar(ng-click="#{condValue}Open()")
                    span(ng-if="o.tooltip != undefined")
                        | &nbsp;
                        i.fa.fa-info-circle(tooltip="{{o.tooltip}}")
                    | &nbsp;
                    //div(ng-model="mytime",ng-change="changed()")
                    //    timepicker(show-meridian="ismeridian")

            | &nbsp;
            span(ng-if="o.tooltip != undefined")
                | &nbsp;
                i.fa.fa-info-circle(tooltip="{{o.tooltip}}")
            | &nbsp;#{optionalText}

div(ng-if="_.contains(['tinyint', 'boolean'], dataSet.dbReferences[dbRefIndex].fields[fieldIndex].DATA_TYPE)")
    +singleCondRestrictHeader
    +valueForm('booleanConds', 'cond', 'condValue', 'boolean', '')
div(ng-if="_.contains(['int', 'float', 'decimal', 'number'], dataSet.dbReferences[dbRefIndex].fields[fieldIndex].DATA_TYPE)")
    +singleCondRestrictHeader
    +valueForm('whereConds', 'cond', 'condValue', 'number', '')
div(ng-if="_.contains(['varchar', 'text', 'longtext'], dataSet.dbReferences[dbRefIndex].fields[fieldIndex].DATA_TYPE)")
    +singleCondRestrictHeader
    +valueForm('whereConds', 'cond', 'condValue', 'text', '')
    hr
    +rangeCondRestrictHeader
    +valueForm('beginRangeConds', 'beginCond', 'beginValue', 'text', 'Begin')
    +valueForm('endRangeConds', 'endCond', 'endValue', 'text', 'End')
div(ng-if="_.contains(['date', 'datetime'], dataSet.dbReferences[dbRefIndex].fields[fieldIndex].DATA_TYPE)")
    +valueForm('beginRangeConds', 'beginCond', 'beginValue', 'date', 'Begin Date')
    +valueForm('endRangeConds', 'endCond', 'endValue', 'date', 'End Date')

// If you ever need to implement a more custom non-mixin logic, then create another div matching a DATA_TYPE and copy the main mixin and deparametarize
